{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    
{% endblock titulo %}

{% block contenido %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/aplicacion/assets/img/intro.jpg" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Excelencia</span>
                        <span class="section-heading-lower">¿Qué es la estética automotriz?</span>
                    </h2>
                    <p class="mb-3">Este arte refiere a la dedicación y empeño en mejorar la estética visual de un vehículo dejándolo como si fuera un 0km, es decir un vehículo recién comprado. Conlleva todo un mundo de técnicas y productos que crece día a día para llevar al máximo el aspecto visual del vehículo.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}
    
